
/* colors blu 6a6b8f grn 51b05e red c85e4d dkred 582e1d dkblu 3a3b5f;*/
/* General page style */
body {
	background-color: #888888;
}

hr.dotted { border-bottom: 2px dotted #21903e; width: 500px;
	border-top: 5px dotted #51b05e;}

/* General font families for common tags */
th,td { font-family: Verdana, Arial, Helvetica, sans-serif; }
p { font-size: 11pt; 	font-family: serif, Times; }

a:link,a:active,a:visited { color : #582e1d; }
a:hover		{ text-decoration: underline; color : #EE6900; }

/*
 * margins t,r,b,l
 */
p.story { font-size: 11pt; 	font-family: serif, Times; 
	  color: #222222;}

.counter	{ font-weight: bold; 	margin : 30px 15px 1px 15px;
	padding : 5px 5px 5px 5px;	font-family: monospace;
	background-color : #110000;	color : #22ff22;	
	width: 80px; 			text-align: right;}
.margin1	{ margin : 10px 10px }
.margin2	{ margin : 10px 20px }
.margin3	{ margin : 10px 30px }
.margin4	{ margin : 10px 40px }
.margin5	{ margin : 10px 50px }
.margin6	{ margin : 10px 60px }
.margin7	{ margin : 10px 70px }
.margin8	{ margin : 10px 80px }
.warning	{ font-weight: bold;	color: #660000;}

/*
 * Table styles.
 */
table.tblmain { width: 800px;  border: 3px #c0ff3e solid; }
td.maintop { 	height: 80px; 	background-color: #191970; 
		width: 100%; 	padding: 0px 0px 0px 0px;
		text-align: right;}
td.maintop-left { 	height: 80px; 	background-color: #191970; 
		width: 130px; 	padding: 0px 0px 0px 0px;
		text-align: center;	color: #eee685;}

table td.content {
	width: 100%; 		padding: 30px 0 30px 15px;
	vertical-align: top; 	font-size: 12px;
	font-family: serif;
	background-color: #eee9e9;
}

/* Taklback stuff */
table.talkback { width: 100%; 	margin: 1ex 2ex 0 1ex; }
table.talkback td {	background-color: #eee685; padding: 1ex 1ex 1ex 1ex;
	font-size: 10pt; 	border-bottom: solid 2px #cccccc;}
table.talkback td.title { font-size: 12pt;  text-align: left; 
	background-color: #cccccc;
	margin: 2ex 1ex 2ex 2ex;	border-bottom: solid 2px #191970;
}

/* Registry, item stuff */
table.it { width: 620px; border-collapse: collapse;	margin: 15px 0 5px 3ex; 
	border: 2px solid #191970; }
table.it tr { 	border-bottom: solid 1px #888888;}
table.it td {	padding: 8px 2px 4px 1ex; 	font-size: 11pt;}

table.it tr.tbltitle { font-size: 12pt;  text-align: left; 
	background-color: #ffffff;
	margin: 2ex 1ex 2ex 2ex;	border-bottom: solid 2px #191970; }
table.it td.desc { font-size: 10pt;  }
table.it td.claimed_desc { font-size: 10pt;  text-decoration: line-through; }
table.it tr.claimed { background-color: #bbbbbb; }
table.it td.claimed_date { font-size: smaller; }
	
table.it tr.header1 { background-color: #aaFFaa;	font-size: 11pt;
 	border-bottom: solid 2px #111111; }
table.it tr.header2 { background-color: #FFaaaa;	font-size: 11pt;
 	border-bottom: solid 2px #111111; }
table.it tr.header3 { background-color: #aaaaFF;	font-size: 11pt;
 	border-bottom: solid 2px #111111; }

/*table tr.it { background-color: #dddddd; 	vertical-align: bottom;
	margin: 5px 5px 2px 5px; border: } */
/*table.items tr.item{ background-color: #ffdddd; 	vertical-align: top;
	margin: 5px 5px 2px 5px; 	text-align: left;}
*/

/* http://www.f4.ca Yoink!*/
table td.navcontain {
	padding: 5px 2px 5px 2px;	vertical-align: top;
	background-color: #eee9e9;	height: 100%;
	width: 130px;			text-align: center;
}
table td.navcontain font { font-family: Verdana, Arial, Helvetica, sans-serif; }
/* http://www.sovavsiti.cz/css/w3c_buttons.html */
table.nav { margin: 25px 0 0 0 }
table.nav td {
	width: 120px;
	border: 0;
	background-color: #3a3b5f;
}
table.nav td a {
	font-size: 13px;
	padding: 5px;
	display: block;
	border: 0;
	text-decoration: none;
	font-weight: normal;
}
table.nav td a:link,
table.nav td a:hover,
table.nav td a:visited {
	border: 0;
	color: #000000;
	background-color: #51b05e;
}
table.nav td a:link,
table.nav td a:visited {
	/*
	border-top: 1px solid #c6e4ed;
	border-bottom: 2px solid #c6e4ed;
	border-left: 1px solid #c6e4ed;
	border-right: 2px solid #c6e4ed;
	*/
}
table.nav td a:hover {
	border: 0;
	color: #c0ff3e;
	background-color: #000000;
	text-decoration: underline;
	/*
	border-bottom: 1px solid #cecece;
	border-top: 2px solid #4a4a4a;
	border-right: 1px solid #cecece;
	border-left: 2px solid #4a4a4a;
	*/
}

table.login	{ margin: 1ex 1ex 1ex 3ex; 	width: 590;
	border-collapse: collapse; }
table.login td  { background-color: #ffffaa;		color: #000000;	
	margin: 2ex 2ex 5ex 5ex;	padding: 2ex 2ex;
	border: 2px solid #191970;	font-size: 10pt;}

p.notice { font-size: 12pt; 	margin : 2ex 10ex 2ex 2ex;
	padding : 2ex 2ex 2ex 2ex;	font-family: monospace;
	background-color : #ffaaaa;	color : #000011;	
	width: 30ex; 			text-align: left;
	border: 1px solid #444444; }
p.status { font-size: 12pt; 	margin : 2ex 10px 2ex 400px;
	padding : 2ex 2ex 2ex 2ex;	font-family: monospace;
	background-color : #aaffaa;	color : #000011;	
	width: 200px; 			text-align: left;
	border: 1px solid #444444; }
