/*
* seattle style by fossil_feud 2002
 * margins t,r,b,l
 */

/* colors
 * cadetBlue:	#5f9ea0
 * lt snow: 	#eee9e9
 * orange1:	#ffa500
 * khaki:	#eee685
 */
 /* General page style */
body {
	background-color: #dddddd;
	/*background-image: url(/img/bk-stage-dk.jpg);*/
}

/* General font families for common tags */
font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif; }
a:link,a:active,a:visited { color : #ad3b25; }
a:hover		{ text-decoration: underline; color : #cd5b45; }
hr	{ height: 0px; border: solid #ffa400 0px; border-top-width: 1px;}

hr.mini	{ width: 200px;		height: 5px;	border: solid #191970 0px; 
	border-top-width: 5px;	margin: 20 auto 15 10}

/* This is the border line & background colour round the entire page */
.bodyline	{ background-color: #eee9e9; 
		/*background-image: url(images/beater-truck.jpg);*/
		border: 1px #191970 solid; }

.intro		{ background : #000000;		color : #FFFFFF;	
	width : 300px;	margin: 2ex 2ex 5ex 50%;	padding: 2ex 2ex;}
.indent1	{ text-indent : 5px; }
.indent2	{ text-indent : 10px; }
.afquote	{ text-style: italic; 	margin : 5px 100px 5px 80px;
	padding : 1px 20px 1px 5px;	font-family: times, serif;
	background-color : #eeeeee;	color : #001144;}
.counter	{ font-weight: bold; 	margin : 30px 15px 1px 15px;
	padding : 5px 5px 5px 5px;	font-family: monospace;
	background-color : #110000;	color : #22ff22;	
	width: 80px; 			text-align: right;}
.margin1	{ margin : 10px 10px }
.margin2	{ margin : 10px 20px }
.margin3	{ margin : 10px 30px }
.margin4	{ margin : 10px 40px }
.margin5	{ margin : 10px 50px }
.margin6	{ margin : 10px 60px }
.margin7	{ margin : 10px 70px }
.margin8	{ margin : 10px 80px }
.warning	{ font-weight: bold;	color: #660000;}
.img-right	{ float : right;	margin: 10 10 20 20;	font-size : 10pt;}
.logo-right	{ float : right;	margin: 0 0 0 0;}
.img-left	{ float : left;		margin: 10 20 20 10;	font-size : 10pt;}


/*
 * Table styles.
 */
table.tblmain { width: 800;  border: 3px #5f9ea0; solid; }
td.maintop { 	height: 80px; 	background-color: #5f9ea0; 
		width: 100%; 	padding: 0px 0px 0px 0px;
		text-align: right;}
td.maintop-left { 	height: 80px; 	background-color: #5f9ea0; 
		width: 130px; 	padding: 0px 0px 0px 0px;
		text-align: center;	color: #eee685;}

/* http://www.f4.ca */
table td.navcontain {
	padding: 5px 2px 5px 2px;	vertical-align: top;
	background-color: #eee9e9;	height: 100%;
	width: 130px;			text-align: center;
}
table td.content {
	width: 100%; 		padding: 3ex 0 2ex 2ex;
	vertical-align: top; 	font-size: 12px;
	background-color: #eee9e9;
}

/* http://www.sovavsiti.cz/css/w3c_buttons.html */
table.nav { margin: 25px 0 0 0 }
table.nav td {
	width: 120px;
	border: 0;
	background-color: #191970;
}
table.nav td a {
	font-size: 13px;
	padding: 5px;
	display: block;
	border: 0;
	text-decoration: none;
	font-weight: normal;
}
table.nav td a:link,
table.nav td a:hover,
table.nav td a:visited {
	border: 0;
	color: #000000;
	background-color: #eee685;
}
table.nav td a:link,
table.nav td a:visited {
	/*
	border-top: 1px solid #c6e4ed;
	border-bottom: 2px solid #c6e4ed;
	border-left: 1px solid #c6e4ed;
	border-right: 2px solid #c6e4ed;
	*/
}
table.nav td a:hover {
	border: 0;
	color: #c0ff3e;
	background-color: #000000;
	text-decoration: underline;
	/*
	border-bottom: 1px solid #cecece;
	border-top: 2px solid #4a4a4a;
	border-right: 1px solid #cecece;
	border-left: 2px solid #4a4a4a;
	*/
}

/* list of projects stuff */
table.plist {
	width: 600px;	border: 3px solid #eee685;
	margin: 3px; 
}

table.plist td {
	width: 100%;	padding: 1ex;	background-color: #dddddd;
}

p.projname {
	text-decoration: underline; 	color: #000000;
	font-size: 14pt;		background-color: #ffa500;
	padding: 3px 0 3px 5px;
	font-family: Arial, Helvetica, sans-serif;
}

p.projdesc {
	font-size: 11pt;
}

table.tblintro { width: 100%; border: 0; cellpadding: 5; }
td.introleft { ;}
td.introright { width: 250; height: 75; background-color: #002233; }

/* General text */
.gen { font-size : 13px; }
.genmed { font-size : 12px; }
.gensmall { font-size : 11px; }
.gen,.genmed,.gensmall { color : #000000; }
a.gen,a.genmed,a.gensmall { color: #006699; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #DD6900; text-decoration: underline; }

/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #101010;
	background-color: #FAFAFA; border: #c0ff3e; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #444444; line-height: 125%;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* Form elements */
input,textarea, select {
	color : #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-color : #000000;
}

