/*
* seattle style by fossil_feud 2002
 * margins t,r,b,l
 */

/* colors
 * lt snow: 	#eee9e9
 * dk blu:  	#191970 
 * drab olive:  #c0ff3e
 * khaki:	#eee685
 */
 /* General page style */
body {
	background-color: #dddddd;
	background-image: url(../img/bk-stage-dk.jpg);
}

/* General font families for common tags */
font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif }
a:link,a:active,a:visited { color : #ad3b25; }
a:hover		{ text-decoration: underline; color : #cd5b45; }
hr	{ height: 0px; border: solid #191970 0px; border-top-width: 1px;}

hr.mini	{ width: 200px;		height: 5px;	border: solid #191970 0px; 
	border-top-width: 5px;}	
hr.dotted { border-bottom: 1px dotted #101060; width: 500px;
	border-top: 1px dotted #191970;}

/* This is the border line & background colour round the entire page */
.bodyline	{ background-color: #eee9e9; 
		/*background-image: url(images/beater-truck.jpg);*/
		border: 1px #191970 solid; }

.intro		{ background : #000000;		color : #FFFFFF;	
	width : 300px;	margin: 2ex 2ex 5ex 50%;	padding: 2ex 2ex;}
.indent1	{ text-indent : 5px; }
.indent2	{ text-indent : 10px; }
.afquote	{ margin : 5px 100px 5px 80px;
	padding : 1px 20px 1px 5px;	font-family: times, serif;
	background-color : #eeeeee;	color : #001144;}
.counter	{ font-weight: bold; 	margin : 30px 15px 1px 15px;
	padding : 5px 5px 5px 5px;	font-family: monospace;
	background-color : #110000;	color : #22ff22;	
	width: 80px; 			text-align: right;}
.margin1	{ margin : 10px 10px }
.margin2	{ margin : 10px 20px }
.margin3	{ margin : 10px 30px }
.margin4	{ margin : 10px 40px }
.margin5	{ margin : 10px 50px }
.margin6	{ margin : 10px 60px }
.margin7	{ margin : 10px 70px }
.margin8	{ margin : 10px 80px }
.warning	{ font-weight: bold;	color: #660000;}
p.newsdate { 	color: #222222;		font-size: 10pt; 
	font-family: monospace, courier; 	margin: 2ex 10ex 0 0;  
	background-color: #cccccc; 	text-align: right;}
div.twitter_container {border: 2px dashed #555;
	background-color: #bbb;
	margin: 10px 40px; padding: 5px;
	float: right;}
div.what { background-color: #c0ff3e; margin : 10px 20px }
div.twitter { background-color: #c0ff3e; margin : 10px 10px }
h2.twitter { font-weight: bold; margin: 10px 10px; }
h3.twitter { font-weight: bold; margin: 10px 10px; }

.img-right	{ float : right;	margin: 10px 10px 20px 20px;	font-size : 10pt;}
.logo-right	{ float : right;	margin: 0 0 0 0;}
.img-left	{ float : left;		margin: 10px 20px 20px 10px;	font-size : 10pt;}


/*
 * Table styles.
 */

/* Taklback stuff */
table.talkback { margin: 1ex 2ex 0 1ex; }
table.talkback td {	background-color: #eee685; padding: 2ex 1ex 1ex 1ex;
	font-size: 11pt; 	border-bottom: solid 2px #cccccc;}
table.talkback td.title { font-size: 12pt;  text-align: left; 
	background-color: #cccccc;
	margin: 2ex 1ex 2ex 2ex;	border-bottom: solid 2px #191970;
}


table.tblmain { width: 800px;  border: 3px #c0ff3e solid; }
td.maintop { 	height: 80px; 	background-color: #191970; 
		width: 100%; 	padding: 0px 0px 0px 0px;
		text-align: right;}
td.maintop-left { 	height: 80px; 	background-color: #191970; 
	width: 130px; 	padding: 0px 0px 0px 0px;
	text-align: center;	color: #eee685; 	vertical-align: middle;
}

/* http://www.f4.ca */
table td.navcontain {
	padding: 5px 2px 5px 2px;	vertical-align: top;
	background-color: #eee9e9;	height: 100%;
	width: 130px;			text-align: center;
}
table td.content {
	padding: 3ex 0 2ex 2ex;
	vertical-align: top; 	font-size: 12px;
	background-color: #eee9e9;
}
table.blog { 
	width: 100%; 		
}
table.blog td.blogbody {
	vertical-align: top;	padding: 0;
}
table.blog td.blogright {
	vertical-align: top;	padding: 0;
	width: 130px;
}

/* http://www.sovavsiti.cz/css/w3c_buttons.html */
table.nav { margin: 25px 0 0 0 }
table.nav td {
	width: 120px;
	border: 0;
	background-color: #191970;
}
table.nav td a {
	font-size: 13px;
	padding: 5px;
	display: block;
	border: 0;
	text-decoration: none;
	font-weight: normal;
}
table.nav td a:link,
table.nav td a:hover,
table.nav td a:visited {
	border: 0;
	color: #000000;
	background-color: #eee685;
}
table.nav td a:link,
table.nav td a:visited {
	/*
	border-top: 1px solid #c6e4ed;
	border-bottom: 2px solid #c6e4ed;
	border-left: 1px solid #c6e4ed;
	border-right: 2px solid #c6e4ed;
	*/
}
table.nav td a:hover {
	border: 0;
	color: #c0ff3e;
	background-color: #000000;
	text-decoration: underline;
	/*
	border-bottom: 1px solid #cecece;
	border-top: 2px solid #4a4a4a;
	border-right: 1px solid #cecece;
	border-left: 2px solid #4a4a4a;
	*/
}

/* DEPRICATED
table.tblintro { width: 100%; border: 0; }
td.introleft { ;}
td.introright { width: 250px; height: 75px; background-color: #002233; }
*/

/* General text */
.gen { font-size : 13px; }
.genmed { font-size : 12px; }
.gensmall { font-size : 11px; }
.gen,.genmed,.gensmall { color : #000000; }
a.gen,a.genmed,a.gensmall { color: #006699; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #DD6900; text-decoration: underline; }

/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #101010;
	background-color: #FAFAFA; border: #c0ff3e; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #444444; line-height: 125%;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* Form elements */
input,textarea, select {
	color : #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-color : #000000;
}

